<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SFASystem.DataAccess.Properties.Settings.SFASystemConnectionString"
            connectionString="Data Source=TOMMY-PC;Initial Catalog=SFASystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>