<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <!-- NHibernate -->
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!-- log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!-- NHibernate -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory</property>
      <property name="connection.connection_string">Data Source=localhost;Initial Catalog=SFASystem;Integrated Security=True</property>
      <!--Dodanie statystyk tylko do debugu!!! NHibernate Profiler-->
      <property name="generate_statistics">true</property>
      <mapping assembly="SFASystem.DataAccess" />
      <!-- NHibernate second level cache -->
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="SFASqlConnection" connectionString="Data Source=localhost;Initial Catalog=SFASystem;Integrated Security=True;Connect Timeout=120" />
    <add name="sfasystemConnectionString" connectionString="Data Source=localhost;Initial Catalog=sfasystem;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="Administrator, SalesRep, SalesManager, SalesDirector" />
        <deny users="?" />
      </authorization>
      <!--<customErrors mode="On" defaultRedirect="./Error.aspx"/>-->
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="Nazwa firmy &lt; sfasystem.mail@gmail.com &gt;">
        <network host="smtp.gmail.com" port="587" userName="sfasystem.mail@gmail.com" password="sfasystem,123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="SFASYSTEM.AUTH" loginUrl="~/Login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Default.aspx" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="SFAMembershipProvider">
      <providers>
        <add name="SFAMembershipProvider" type="SFASystem.WebUtils.Security.SFAMembershipProvider, SFASystem.WebUtils" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="SFASystem" requiresUniqueEmail="true" enablePasswordRetrieval="true" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SFARoleManagerProvider">
      <providers>
        <add name="SFARoleManagerProvider" type="SFASystem.WebUtils.Security.SFARoleProvider, SFASystem.WebUtils" applicationName="SFASystem" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. -->
    <customErrors mode="Off" defaultRedirect="~/Error.aspx?errorID=1">
      <error statusCode="403" redirect="~/Error.aspx?errorID=403" />
      <error statusCode="404" redirect="~/Error.aspx?errorID=404" />
      <error statusCode="500" redirect="~/Error.aspx?errorID=500" />
    </customErrors>
    <pages theme="administration">
      <namespaces>
        <add namespace="SFASystem.WebUtils" />
        <add namespace="SFASystem.WebUtils.Security" />
        <add namespace="SFASystem.Domain" />
        <add namespace="SFASystem.Services" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="sfasystem" tagName="EmployeeAdditional" src="~/Administration/Controls/Account/EmployeeAdditional.ascx" />
        <add tagPrefix="sfasystem" tagName="EmployeeChangePassword" src="~/Administration/Controls/Account/EmployeeChangePassword.ascx" />
        <add tagPrefix="sfasystem" tagName="EmployeeInfo" src="~/Administration/Controls/Account/EmployeeInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="CustomerFacilityInfo" src="~/Administration/Controls/Customer/CustomerFacilityInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="CustomerFacilityList" src="~/Administration/Controls/Customer/CustomerFacilityList.ascx" />
        <add tagPrefix="sfasystem" tagName="CustomerInfo" src="~/Administration/Controls/Customer/CustomerInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="CustomerList" src="~/Administration/Controls/Customer/CustomerList.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectCustomerControl" src="~/Administration/Controls/Customer/SelectCustomerControl.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectCustomerFacility" src="~/Administration/Controls/Customer/SelectCustomerFacility.ascx" />
        <add tagPrefix="sfasystem" tagName="EmployeeRoles" src="~/Administration/Controls/Employee/EmployeeRoles.ascx" />
        <add tagPrefix="sfasystem" tagName="EmployeeList" src="~/Administration/Controls/Employee/EmployeeList.ascx" />
        <add tagPrefix="sfasystem" tagName="TaskInfo" src="~/Administration/Controls/Employee/TaskInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="TaskList" src="~/Administration/Controls/Employee/TaskList.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectEmployeeControl" src="~/Administration/Controls/Employee/SelectEmployeeControl.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectTaskStatus" src="~/Administration/Controls/Employee/SelectTaskStatus.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectRoleControl" src="~/Administration/Controls/Employee/SelectRoleControl.ascx" />
        <add tagPrefix="sfasystem" tagName="NewProductGroupTree" src="~/Administration/Controls/Product/NewProductGroupTree.ascx" />
        <add tagPrefix="sfasystem" tagName="ManufacturerInfo" src="~/Administration/Controls/Product/ManufacturerInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectManufacturer" src="~/Administration/Controls/Product/SelectManufacturerControl.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductAttributes" src="~/Administration/Controls/Product/ProductAttributes.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductFilter" src="~/Administration/Controls/Product/ProductFilter.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductGroupInfo" src="~/Administration/Controls/Product/ProductGroupInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductGroupTree" src="~/Administration/Controls/Product/ProductGroupTree.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductInfo" src="~/Administration/Controls/Product/ProductInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductList" src="~/Administration/Controls/Product/ProductList.ascx" />
        <add tagPrefix="sfasystem" tagName="ProductPictures" src="~/Administration/Controls/Product/ProductPictures.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectProductGroupControl" src="~/Administration/Controls/Product/SelectProductGroupControl.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectTaxControl" src="~/Administration/Controls/Product/SelectTaxControl.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectTerritoryControl" src="~/Administration/Controls/Sale/SelectTerritoryControl.ascx" />
        <add tagPrefix="sfasystem" tagName="TerritoryInfo" src="~/Administration/Controls/Sale/TerritoryInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="TerritoryTree" src="~/Administration/Controls/Sale/TerritoryTree.ascx" />
        <add tagPrefix="sfasystem" tagName="InvoiceList" src="~/Administration/Controls/Sale/InvoiceList.ascx" />
        <add tagPrefix="sfasystem" tagName="OrderList" src="~/Administration/Controls/Sale/OrderList.ascx" />
        <add tagPrefix="sfasystem" tagName="OrderDetails" src="~/Administration/Controls/Sale/OrderDetails.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectOrderStatus" src="~/Administration/Controls/Sale/SelectOrderStatus.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectInvoiceStatus" src="~/Administration/Controls/Sale/SelectInvoiceStatus.ascx" />
        <add tagPrefix="sfasystem" tagName="SalesDirTop10List" src="~/Administration/Controls/SalesDir/Top10List.ascx" />
        <add tagPrefix="sfasystem" tagName="QuoteList" src="~/Administration/Controls/SalesDir/QuoteList.ascx" />
        <add tagPrefix="sfasystem" tagName="QuoteInfo" src="~/Administration/Controls/SalesDir/QuoteInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="AddressDetails" src="~/Administration/Controls/AddressDetails.ascx" />
        <add tagPrefix="sfasystem" tagName="AddressDisplay" src="~/Administration/Controls/AddressDisplay.ascx" />
        <add tagPrefix="sfasystem" tagName="ContactDisplay" src="~/Administration/Controls/ContactDisplay.ascx" />
        <add tagPrefix="sfasystem" tagName="ContactInfo" src="~/Administration/Controls/ContactInfo.ascx" />
        <add tagPrefix="sfasystem" tagName="ContactList" src="~/Administration/Controls/ContactList.ascx" />
        <add tagPrefix="sfasystem" tagName="CountryList" src="~/Administration/Controls/CountryList.ascx" />
        <add tagPrefix="sfasystem" tagName="Dictionaries" src="~/Administration/Controls/Dictionaries.ascx" />
        <add tagPrefix="sfasystem" tagName="SelectCountryControl" src="~/Administration/Controls/SelectCountryControl.ascx" />
        <add tagPrefix="sfasystem" tagName="TextBox" src="~/Administration/Controls/TextBoxControl.ascx" />
        <add tagPrefix="sfasystem" tagName="ToolTipLabel" src="~/Administration/Controls/ToolTipLabel.ascx" />
        <add tagPrefix="sfasystem" tagName="QuoteControl" src="~/Administration/Controls/QuoteControl.ascx" />
        <add tagPrefix="sfasystem" tagName="MyTasksBox" src="~/Administration/Controls/MyTaskBox.ascx" />
        <add tagPrefix="sfasystem" tagName="TaskToApproveBox" src="~/Administration/Controls/TaskToApproveBox.ascx" />
        <add tagPrefix="sfasystem" tagName="MessageBox" src="~/Administration/Controls/MessageBox.ascx" />
        <add tagPrefix="sfasystem" tagName="ChartAllSalesByMonth" src="~/Administration/Controls/Charts/AllSalesByMonthChart.ascx" />
        <add tagPrefix="sfasystem" tagName="BestSalesRepByManChart" src="~/Administration/Controls/Charts/BestSalesRepByManChart.ascx" />
        <add tagPrefix="sfasystem" tagName="MySalesManSalesChart" src="~/Administration/Controls/Charts/MySalesManSalesChart.ascx" />
        <add tagPrefix="sfasystem" tagName="SalesProdGroupChart" src="~/Administration/Controls/Charts/SalesProdGroupChart.ascx" />
        <add tagPrefix="sfasystem" tagName="SalesRepSalesChart" src="~/Administration/Controls/Charts/SalesRepSalesChart.ascx" />
        <add tagPrefix="sfasystem" tagName="SalesRepBestCustomersChart" src="~/Administration/Controls/Charts/SalesRepBestCustomers.ascx" />
        <add tagPrefix="sfasystem" tagName="ChartBestEmployees" src="~/Administration/Controls/Charts/BestEmployeesChart.ascx" />
        <add tagPrefix="sfasystem" tagName="ChartBestProducts" src="~/Administration/Controls/Charts/BestProductsChart.ascx" />
        <add tagPrefix="sfasystem" tagName="ChartSalesByMonth" src="~/Administration/Controls/Charts/SalesByMonthChart.ascx" />
        <add tagPrefix="sfasystem" tagName="ChartEmployeeSalesByMonth" src="~/Administration/Controls/Charts/EmployeeSalesByMonthChart.ascx" />
        <add tagPrefix="sfasystem" tagName="BestProductsList" src="~/Administration/Controls/Charts/BestProductsList.ascx" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Sitemap.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="MembershipHttpModule" type="SFASystem.WebUtils.HttpModules.MembershipHttpModule, SFASystem.WebUtils" />
      <add name="NHibernateSessionModule" type="SFASystem.WebUtils.HttpModules.NHibernateSessionModule, SFASystem.WebUtils" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <httpRuntime executionTimeout="1200" maxRequestLength="40480" />
  </system.web>
  <location path="Administration/Reports">
    <system.web>
      <authorization>
        <deny roles="SalesRep" />
        <!--<allow roles="Client"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Employees/EmployeeAdd.aspx">
    <system.web>
      <authorization>
        <deny roles="SalesRep" />
        <!--<allow roles="Client"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Employees/EmployeeDetails.aspx">
    <system.web>
      <authorization>
        <deny roles="SalesRep" />
        <!--<allow roles="Client"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Employees/Employees.aspx">
    <system.web>
      <authorization>
        <deny roles="SalesRep" />
        <!--<allow roles="Client"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/ReportsHome.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesManager, SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/CustomerReport.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesManager, SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/ProductReport.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesManager, SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/BestCustomers.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/BestSalesReps.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/BProductByTerritory.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/SalesByProductGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesDirector" />
        <!--<allow roles="Client"/>-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administration/Reports/SalesByTerritory.aspx">
    <system.web>
      <authorization>
        <allow roles="SalesDirector" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="ChartImageHandler" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <!-- log4net -->
  <log4net>
    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <datePattern value="yyyyMMdd-HHmmss" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        <!--<conversionPattern value="%-5level [%c{1}]%newline%message%newline"/>-->
      </layout>
    </appender>
    <appender name="NHibernateTraceLog" type="log4net.Appender.RollingFileAppender">
      <file value="../Logs/nhibernate.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd-HHmmss" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        <!--<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>-->
      </layout>
    </appender>
    <appender name="GeneralLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../Logs/general.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="512KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd-HHmmss" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        <!--<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>-->
      </layout>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <level value="WARN" />
      <appender-ref ref="GeneralLogAppender" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="WARN" />
      <appender-ref ref="NHibernateTraceLog" />
    </logger>
    <logger name="NHibernate.Loader.Loader" additivity="false">
      <level value="INFO" />
      <appender-ref ref="AspNetTraceAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>