<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="GeneralLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/general.txt"/>
		<appendToFile value="true"/>
		<maximumFileSize value="512KB"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="5"/>
		<staticLogFileName value="true"/>
		<datePattern value="yyyyMMdd-HHmmss"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			<!--<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>-->
		</layout>
	</appender>
	<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
	<root>
		<level value="WARN"/>
		<appender-ref ref="GeneralLogAppender"/>
	</root>
</log4net>