.errorDiv
{
	position:absolute;
	text-align: left;
	margin-left: -250px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	background: #c7c7c7;
}
.errorDiv .title
{
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	padding-left: 10px;
	background: #666666;
}
.errorDiv .content
{
	background: #969696;
	height: 100%;
	width: 100%;
}
.errorDiv .content .image
{
	margin-top: 18px;
	margin-left: 20px;
}